<!DOCTYPE html>
<html lang="es"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tabla de Alumnos</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/estudiantes.css}">
</head>
<body class="container mt-4">
<div>
    <h2>Gestión de Alumnos</h2>
    <p class="text-muted">Consulta y administración de estudiantes matriculados</p>
</div>
<button onclick="registro()">Registrar nuevo estudiante</button>

<div id="registro" class="modal">
    <div class="tarjeta">
        <form th:action="@{/estudiantes/guardar}" method="post" th:object="${estudiante}">
            <input type="hidden" th:field="*{idEstudiante}">
            <input th:field="*{nombres}" type="text" class="formulario" placeholder="Ingrese Nombres del Alumno" required>
            <input th:field="*{apellidos}" type="text" class="formulario" placeholder="Ingrese Apellidos del Alumno" required>
            <input th:field="*{nacimiento}" type="date" class="formulario" placeholder="Ingrese fecha de nacimiento" required>
            <select th:field="*{tipoDocumento}" class="form-select formulario" aria-label="Default select example" required>
                <option value="">Elija Tipo de Documento</option>
                <option value="DNI">DNI</option>
                <option value="CE">Carné de Extranjería</option>
                <option value="PASAPORTE">Pasaporte</option>
            </select>
            <input th:field="*{numeroDocumento}" type="text" class="formulario" placeholder="Ingrese Número de Documento" required>
            <input th:field="*{telefono}" type="text" class="formulario" placeholder="Ingrese Número Telefónico" required>
            <input th:field="*{correo}" type="email" class="formulario" placeholder="Ingrese Correo Electrónico" required>
            <div class="d-flex justify-content-between mt-3">
                <button type="submit" class="btn btn-success" onclick="return confirm('¿Agregar Estudiante?')">Agregar Estudiante</button>
                <button type="reset" class="btn btn-danger cancelar" onclick="cerrarRegistro()">Cancelar registro</button>
            </div>
        </form>
    </div>
</div>
<div id="modificar" class="modal" th:style="${modoEdicion} ? 'display: block;' : 'display: none;'">
    <div class="tarjeta">
        <form th:action="@{/estudiantes/actualizar}" method="post" th:object="${estudiante}">
            <div class="mb-3">
                <label class="form-label">ID Estudiante</label>
                <input type="text" th:field="*{idEstudiante}" class="formulario" readonly>
            </div>
            <input th:field="*{nombres}" type="text" class="formulario" placeholder="Ingrese Nombres del Alumno" required>
            <input th:field="*{apellidos}" type="text" class="formulario" placeholder="Ingrese Apellidos del Alumno" required>
            <input th:field="*{nacimiento}" type="date" class="formulario" required>
            <select th:field="*{tipoDocumento}" class="form-select formulario" aria-label="Default select example" required>
                <option value="">Elija Tipo de Documento</option>
                <option value="DNI">DNI</option>
                <option value="CE">Carné de Extranjería</option>
                <option value="PASAPORTE">Pasaporte</option>
            </select>
            <input th:field="*{numeroDocumento}" type="text" class="formulario" placeholder="Ingrese Número de Documento" required>
            <input th:field="*{telefono}" type="text" class="formulario" placeholder="Ingrese Número Telefónico" required>
            <input th:field="*{correo}" type="email" class="formulario" placeholder="Ingrese Correo Electrónico" required>
            <select th:field="*{estado}" class="form-select formulario" aria-label="Default select example" required>
                <option value="ACTIVO">Activo</option>
                <option value="INACTIVO">Inactivo</option>
            </select>
            <div class="d-flex justify-content-between mt-3">
                <button type="submit" class="btn btn-warning" onclick="return confirm('¿Modificar Información de Alumno?')">Modificar Estudiante</button>
                <a th:href="@{/estudiantes/tabla}" type="reset" class="btn btn-danger cancelar" onclick="cerrarRegistro()">Cancelar Modificación</a>
            </div>
        </form>
    </div>
</div>
<div class="card shadow-sm">
    <table class="table table-striped text-center m-0">
        <thead>
        <tr>
            <th>Código</th>
            <th>Nombres</th>
            <th>Apellidos</th>
            <th>Documento</th>
            <th>N° Documento</th>
            <th>Fecha Naciento</th>
            <th>Correo</th>
            <th>Teléfono</th>
            <th>Estado</th>
            <th>Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="est : ${estudiantes}">
            <td th:text="${est.codigo}"></td>
            <td th:text="${est.nombres}"></td>
            <td th:text="${est.apellidos}"></td>
            <td th:text="${est.tipoDocumento}"></td>
            <td th:text="${est.numeroDocumento}"></td>
            <td th:text="${est.nacimiento}"></td>
            <td th:text="${est.correo}"></td>
            <td th:text="${est.telefono}"></td>
            <td th:text="${est.estado}"></td>
            <td>
                <div class="grupobtn">
                    <a th:href="@{/estudiantes/editar/{id}(id=${est.idEstudiante})}" class="btn btn-outline-warning btn-sm">Editar</a>
                    <form th:action="@{/estudiantes/eliminar/{id}(id=${est.idEstudiante})}" method="post">
                        <button type="submit" class="btn btn-outline-danger btn-sm envio" onclick="return confirm('¿Eliminar alumno?');">
                            Eliminar
                        </button>
                    </form>
                </div>
            </td>
        </tr>
        <tr th:if="${#lists.isEmpty(estudiantes)}">
            <td colspan="6" class="text-center text-muted py-3">
                No se encontraron alumnos registrados en el sistema.
            </td>
        </tr>
        </tbody>
    </table>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
<script th:src="@{/JavaScript/estudiantes.js}"></script>
</body>
</html>
